@font-face {
  font-family: 'Gotham';
  src: url("http://tecmm.edu.mx/fuentesOficiales/Gotham-Bold.otf");
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url("http://tecmm.edu.mx/fuentesOficiales/Gotham-Ultra.otf");
}

@font-face {
  font-family: 'Gotham-Book';
  src: url("http://tecmm.edu.mx/fuentesOficiales/GothamBook.ttf");
}

/*Links Footer*/
.div-principal-linksFooter{
  display:block;
  width: 100%;
  height:100%;
  background-color: transparent;
  color: white;

}

.listas-linksFooter{
  display: block;
  width: 100%;
  height: auto;
  background-color: #5C5B5F;
  padding: 2%;
}

.tag{
  border-bottom: ;
  color:white;
  font-size: 12px;
  font-family: "Gotham";
  margin:5px;
  padding: 5px;
  border-radius: 0%;
}

.tag:hover{
  color:#2DA19A;
}




/*BANNER GRIS CON DOMICILIO*/
.div-bannerSEP{
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #5C5B5F;
  border-top: .7vh solid white;
  display: flex;
  padding: 0.5%;
}

.direccionMap{
  width: 50%;
}

.div-direccion{
  height: 100%;
  width: 50%;
  font-family: "Gotham-Book";
  font-size: 2vh;
  text-align: left;
  left:0%;

  margin-top:0%;
  background-color:;
}

.div-direccion a{
  margin-bottom: 1%;
  color: white;
  cursor: pointer;
  display:run-in;
  background-color: ;
}

#leyendaAccesibilidad{
  font-size: 2vh;
  margin-top: 5%;
}

.divModalAccesibilidad{
  margin-top: 7%;
  color:black;
  font-family: "Gotham-Ultra";
}

.divModalAccesibilidad h1{
  font-family: "Gotham";
  color:#6D356C;
}

.divModalAccesibilidad ul{
  list-style-type: decimal;
  text-align: left;
  color:#2DA19A;

}

.divModalAccesibilidad li{
  margin: 5%;
  font-size: 2vh;
}

.divModalAccesibilidad h3{
  font-size: 2.5vh;
  font-family: "Gotham";
}

.divModalAccesibilidad img{
  width: 80%;
}

.divModalAccesibilidad{
  margin-top: 7%;
  color:black;
  font-family: "Gotham-Ultra";
}

.divModalAccesibilidad h1{
  font-family: "Gotham";
  color:#6D356C;
}

.divModalAccesibilidad ul{
  list-style-type: decimal;
  text-align: left;
  color:#2DA19A;

}

.divModalAccesibilidad li{
  margin: 5%;
  font-size: 2vh;
}

.divModalAccesibilidad h3{
  font-size: 2.5vh;
  font-family: "Gotham";
}

.divModalAccesibilidad img{
  width: 80%;
}

.div-logosDireccion img{
  width:90%;
  margin-left: 5%;
  margin-top: 3%;
  height: 50px;
}

.div-transformarMexico{
  width: 100%;
  margin-top: -0.3%;
  border-top: .7vh solid white;

}

.div-transformarMexico img{
  width:100%;
}

.div-bannerSepSinTexto{
  width: 100%;
  border-top: .7vh solid white;
  margin-top: -0.3%;
  border-top: .7vh solid white;

}

.div-bannerSepSinTexto img{
  width:100%;
}


/*ENLACES DE GOBIERNO*/
.div-enlaces-gobierno{
  display: flex;
  width: 100%;
  margin-top: -0.3%;
  border-top: .7vh solid white;
  padding: 1%;
  background-image: url("http://tecmm.edu.mx/imagesReact/images/linksFooter/fondoFooterGob.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.div-enlaces-gobierno a{
 line-height: 20px;
 color: white ;
}


.img-gobMx{
  width: 30%;
  height: 10%;
  margin-top: -1%;
  padding: 2%;
}

.div-enlaces{
  width:33%;
  display: block;
  height: auto;
  text-align: left;
  font-size: 1.5vh;
  font-family: "Gotham-Book";
  background-color: ;
}



.div-QueEsGob{
  width: 33%;
  text-align: left;
  font-size: 1.5vh;
  font-family: "Gotham-Book";
  background-color: ;
}

.div-Contacto{
  width:53vh;
  font-size: 1.5vh;
  text-align: left;
  font-family: "Gotham-Book";
  background-color: ;
}




/*RESOLUCION PARA IMAC*/
@media(min-width:2500px) and (max-width:5000px){


  .lista1-linksFooter  .topnav {
    width: 100%;
    margin-left: 7%;
    margin-right: 0%;
    overflow: hidden;
    background-color: transparent;
    margin-top:-0.5%;
  }

  .lista2-linksFooter  .topnav {
    width: 100%;
    margin-left: 7%;
    margin-right: 0%;
    overflow: hidden;
    background-color: transparent;
    margin-top:-0.5%;
  }

  .div-enlaces-gobierno li{
    font-size: 2vh;
    font-family: "Gotham-Book";
  }

  .div-Contacto a{
    font-size: 2vh;
  }

}


/*RESOLUCION PARA MACBOOK PRO*/
@media(min-width:1600px) and (max-width: 2400px){

  .lista1-linksFooter  .topnav {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
    background-color: transparent;
    margin-top:-0.5%;
  }

  .lista2-linksFooter  .topnav {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
    background-color: transparent;
    margin-top:-0.5%;
  }

  .div-enlaces-gobierno li{
    font-size: 2vh;
  }

  .div-Contacto a{
    font-size: 2vh;
  }
}


/*RESOLUCION PARA CELULARES*/
@media(max-width: 420px){

  .div-direccion{
    position: absolute;
    height: 100%;
    font-family: "Gotham-Book";
    font-size: 1.3vh;
    text-align: left;
    left:0.5%;
    margin-top:1%;
    background-color: ;
  }

  .lista1-linksFooter .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 12px;
    text-decoration: none;
    font-size: 1.3vh;
    font-family: 'Gotham';
    cursor: pointer;
  }

  .lista2-linksFooter .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 12px;
    text-decoration: none;
    font-size: 1.3vh;
    font-family: 'Gotham';
    cursor: pointer;
  }


  .div-enlaces-gobierno{
    display: block;

  }

  .div-enlaces-gobierno a{
   line-height: 30px;
   color: white ;
  }

  .div-enlaces{
    width:100%;
    display: block;
    height: auto;
    text-align: left;
    font-size: 2.3vh;
    font-family: "Gotham-Book";
    background-color: ;
  }

  .div-enlaces img{
    width: 15vh;
    height: 4.5vh;
  }

  .div-QueEsGob{
    width: 100%;
    text-align: left;
    font-size: 2.3vh;
    font-family: "Gotham-Book";
    background-color: ;
  }

  .div-Contacto{
    width:100%;
    text-align: left;
    font-family: "Gotham-Book";
    background-color:;
  }

}
